openapi: 3.2.0
info:
  title: Jebbit Integrations API
  description: '# Introduction

    Use our Jebbit API to automate tasks relating to your Jebbit Businesses, Campaigns, Product Feed, Launch Links, and Integrations.'
  version: v1
  x-logo:
    url: https://jebbit-public-api-docs.s3.amazonaws.com/images/logo.png
    backgroundColor: '#FFFFFF'
    altText: Jebbit
servers:
- url: https://api2.jebbit.com/
tags:
- name: Integrations
paths:
  /api/v1/integrations:
    get:
      summary: integrations
      tags:
      - Integrations
      security:
      - JWT: []
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                    - id: abc123
                      type: integrations
                      attributes:
                        endpoint: https://www.example.com/webhook
                        service_name: webhook
                    - id: def567
                      type: integrations
                      attributes:
                        endpoint: https://www.example.com/webhook2
                        service_name: webhook
              schema:
                $ref: '#/components/schemas/integrations'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
      operationId: getApiV1Integrations
      x-operation-id-source: derived
    post:
      summary: integrations
      tags:
      - Integrations
      security:
      - JWT: []
      parameters: []
      responses:
        '201':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: integration
                      attributes:
                        name: Jebbit
              schema:
                $ref: '#/components/schemas/integration'
        '400':
          description: bad request - must be a valid region (us|eu)
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: integration
                      attributes:
                        name: Jebbit
              schema:
                $ref: '#/components/schemas/integration'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/integration_request'
      operationId: postApiV1Integrations
      x-operation-id-source: derived
  /api/v1/integrations/{integration_id}:
    get:
      summary: Retrieves an Integration
      tags:
      - Integrations
      security:
      - JWT: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: integration
                      attributes:
                        name: Jebbit
              schema:
                $ref: '#/components/schemas/integration'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: not found
      operationId: getApiV1IntegrationsByIntegrationId
      x-operation-id-source: derived
    patch:
      summary: Updates an Integration
      tags:
      - Integrations
      security:
      - JWT: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: integration
                      attributes:
                        name: Jebbit
              schema:
                $ref: '#/components/schemas/integration'
        '400':
          description: bad request
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: integration
                      attributes:
                        name: Jebbit
              schema:
                $ref: '#/components/schemas/integration'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: not found
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: integration
                      attributes:
                        name: Jebbit
              schema:
                $ref: '#/components/schemas/integration'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
      operationId: patchApiV1IntegrationsByIntegrationId
      x-operation-id-source: derived
    delete:
      summary: Delete an Integration
      tags:
      - Integrations
      security:
      - JWT: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Conent
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: not found
      operationId: deleteApiV1IntegrationsByIntegrationId
      x-operation-id-source: derived
  /api/v1/integrations/{integration_id}/test:
    post:
      summary: Send A test Integration Submission
      tags:
      - Integrations
      security:
      - JWT: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
      operationId: postApiV1IntegrationsByIntegrationIdTest
      x-operation-id-source: derived
components:
  schemas:
    integration:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                endpoint:
                  type:
                  - string
                  - 'null'
                include_uids:
                  type: boolean
                region:
                  type:
                  - string
                  - 'null'
                require_opt_in:
                  type:
                  - boolean
                  - 'null'
                created_at:
                  type: date
                updated_at:
                  type: date
                service_name:
                  type: string
                shared_secret:
                  type: string
                include_mapped_attributes:
                  type:
                  - boolean
                  - 'null'
              required:
              - endpoint
              - service_name
              - shared_secret
          required:
          - type
    integration_request:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              default: integrations
            attributes:
              type: object
              properties:
                endpoint:
                  type: string
                region:
                  type: string
                  default: us
                additional_options:
                  type: object
                  properties:
                    campaign_name_filter:
                      type: string
                    include_url_params:
                      type: boolean
                    include_sub_channel:
                      type: boolean
                    include_outcome_names:
                      type: boolean
                    require_outcomes:
                      type: boolean
                    hash_pii:
                      type: boolean
    integrations:
      type: object
      properties:
        data:
          type: array
          items:
            type: integration
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      flows:
        authorizationCode:
          tokenUrl: https://auth.jebbit.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            delete: Grants delete access
