openapi: 3.2.0
info:
  title: Jebbit Auth API
  description: '# Introduction

    Use our Jebbit API to automate tasks relating to your Jebbit Businesses, Campaigns, Product Feed, Launch Links, and Integrations.'
  version: v1
  x-logo:
    url: https://jebbit-public-api-docs.s3.amazonaws.com/images/logo.png
    backgroundColor: '#FFFFFF'
    altText: Jebbit
servers:
- url: https://api2.jebbit.com/
tags:
- name: Auth
paths:
  /api/v1/auth:
    post:
      summary: Request Token
      tags:
      - Auth
      parameters: []
      responses:
        '200':
          description: successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      access_token: some.jwt.here
                      token_type: Bearer
                      scope: read:business:mybiz
              schema:
                $ref: '#/components/schemas/token'
        '400':
          description: bad request
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/auth_request'
      operationId: postApiV1Auth
      x-operation-id-source: derived
components:
  schemas:
    auth_request:
      type: object
      properties:
        client_id: string
        client_secret: string
      required:
      - client_id
      - client_secret
    token:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
            attributes:
              type: object
              properties:
                access_token:
                  type: string
                token_type:
                  type: string
                scope:
                  type: string
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      flows:
        authorizationCode:
          tokenUrl: https://auth.jebbit.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            delete: Grants delete access
