openapi: 3.2.0
info:
  title: Jebbit Feed Rows API
  description: '# Introduction

    Use our Jebbit API to automate tasks relating to your Jebbit Businesses, Campaigns, Product Feed, Launch Links, and Integrations.'
  version: v1
  x-logo:
    url: https://jebbit-public-api-docs.s3.amazonaws.com/images/logo.png
    backgroundColor: '#FFFFFF'
    altText: Jebbit
servers:
- url: https://api2.jebbit.com/
tags:
- name: Feed Rows
paths:
  /api/v1/feed_rows:
    get:
      summary: Lists feed rows
      tags:
      - Feed Rows
      security:
      - JWT: []
      parameters:
      - name: filter[feed_id]
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            description: Feed ID
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                    - id: abc123
                      type: feed_rows
                      attributes:
                        data: '{"hello":"world"}'
                    - id: def567
                      type: feed_rows
                      attributes:
                        data: '{"hello":"world"}'
              schema:
                $ref: '#/components/schemas/feed_rows'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 400
                      title: Bad Request
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
      operationId: getApiV1FeedRows
      x-operation-id-source: derived
    post:
      summary: Creates a feed row
      tags:
      - Feed Rows
      security:
      - JWT: []
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: feed_row
                      attributes:
                        data: '{"hello":"world"}'
              schema:
                $ref: '#/components/schemas/feed_row'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 400
                      title: Bad Request
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/feed_row_request'
      operationId: postApiV1FeedRows
      x-operation-id-source: derived
  /api/v1/feed_rows/{feed_row_id}:
    get:
      summary: Retrieves a Feed Row
      tags:
      - Feed Rows
      security:
      - JWT: []
      parameters:
      - name: feed_row_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: feed_row
                      attributes:
                        data: '{"hello":"world"}'
              schema:
                $ref: '#/components/schemas/feed_row'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: Not Found
      operationId: getApiV1FeedRowsByFeedRowId
      x-operation-id-source: derived
    patch:
      summary: Updates a Feed Row
      tags:
      - Feed Rows
      security:
      - JWT: []
      parameters:
      - name: feed_row_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: feed_rows
                      attributes:
                        data: '{"data":"data"}'
              schema:
                $ref: '#/components/schemas/feed_row'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/feed_row'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/feed_row_request'
      operationId: patchApiV1FeedRowsByFeedRowId
      x-operation-id-source: derived
    delete:
      summary: Deletes a Feed Row
      tags:
      - Feed Rows
      security:
      - JWT: []
      parameters:
      - name: feed_row_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: Not Found
      operationId: deleteApiV1FeedRowsByFeedRowId
      x-operation-id-source: derived
components:
  schemas:
    feed_rows:
      type: object
      properties:
        data:
          type: array
          items:
            type: feed_row
    feed_row:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
            attributes:
              type: object
              properties:
                feed_id:
                  type: string
                product_identifier:
                  type: string
                data:
                  type: json
              required:
              - product_identifier
              - feed_id
              - data
          required:
          - type
    feed_row_request:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
            attributes:
              type: object
              properties:
                feed_id:
                  type: string
                product_identifier:
                  type: string
                data:
                  type: json
              required:
              - product_identifier
              - feed_id
              - data
          required:
          - type
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      flows:
        authorizationCode:
          tokenUrl: https://auth.jebbit.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            delete: Grants delete access
