openapi: 3.2.0
info:
  title: Jebbit Feeds API
  description: '# Introduction

    Use our Jebbit API to automate tasks relating to your Jebbit Businesses, Campaigns, Product Feed, Launch Links, and Integrations.'
  version: v1
  x-logo:
    url: https://jebbit-public-api-docs.s3.amazonaws.com/images/logo.png
    backgroundColor: '#FFFFFF'
    altText: Jebbit
servers:
- url: https://api2.jebbit.com/
tags:
- name: Feeds
paths:
  /api/v1/feeds:
    get:
      summary: Lists feeds
      tags:
      - Feeds
      security:
      - JWT: []
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                    - id: abc123
                      type: feeds
                      attributes:
                        name: My Feed
                        status: uploaded
                        source: API
                    - id: def567
                      type: feeds
                      attributes:
                        title: My Other Feed
                        status: uploaded
                        source: Platform
              schema:
                $ref: '#/components/schemas/feeds'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
      operationId: getApiV1Feeds
      x-operation-id-source: derived
    post:
      summary: Creates a feed
      tags:
      - Feeds
      security:
      - JWT: []
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: feed
                      attributes:
                        name: My Test Feed
                        version: '1234235234'
                        status: uploaded
                        source: API
              schema:
                $ref: '#/components/schemas/feed'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 400
                      title: Bad Request
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/feed_request'
      operationId: postApiV1Feeds
      x-operation-id-source: derived
  /api/v1/feeds/{feed_id}:
    get:
      summary: Retrieves a Feed
      tags:
      - Feeds
      security:
      - JWT: []
      parameters:
      - name: feed_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: feed
                      attributes:
                        name: My Test Feed
              schema:
                $ref: '#/components/schemas/feed'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: Not Found
      operationId: getApiV1FeedsByFeedId
      x-operation-id-source: derived
    patch:
      summary: Updates a Feed
      tags:
      - Feeds
      security:
      - JWT: []
      parameters:
      - name: feed_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: feed
                      attributes:
                        name: My Test Feed
              schema:
                $ref: '#/components/schemas/feed'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/feed_request'
      operationId: patchApiV1FeedsByFeedId
      x-operation-id-source: derived
    delete:
      summary: Deletes a feed
      tags:
      - Feeds
      security:
      - JWT: []
      parameters:
      - name: feed_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: Not Found
      operationId: deleteApiV1FeedsByFeedId
      x-operation-id-source: derived
  /api/v1/feeds/{feed_id}/feed_columns:
    get:
      summary: Retrieves Related Feed Columns
      tags:
      - Feeds
      security:
      - JWT: []
      parameters:
      - name: feed_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: feed_columns
                      attributes:
                        name: Column Name
              schema:
                $ref: '#/components/schemas/feed_columns'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: Not Found
      operationId: getApiV1FeedsByFeedIdFeedColumns
      x-operation-id-source: derived
  /api/v1/feeds/{feed_id}/feed_rows:
    get:
      summary: Retrieves Related Feed Rows
      tags:
      - Feeds
      security:
      - JWT: []
      parameters:
      - name: feed_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: feed_rows
                      attributes:
                        data: '{"hello":"world"}'
              schema:
                $ref: '#/components/schemas/feed_rows'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: Not Found
      operationId: getApiV1FeedsByFeedIdFeedRows
      x-operation-id-source: derived
components:
  schemas:
    feed_request:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
              - source
              - status
          required:
          - type
    feed_rows:
      type: object
      properties:
        data:
          type: array
          items:
            type: feed_row
    feed:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
              - source
              - status
          required:
          - type
    feed_columns:
      type: object
      properties:
        data:
          type: array
          items:
            type: feed_column
    feeds:
      type: object
      properties:
        data:
          type: array
          items:
            type: feed
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      flows:
        authorizationCode:
          tokenUrl: https://auth.jebbit.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            delete: Grants delete access
