openapi: 3.2.0
info:
  title: Jebbit Integration Mappings API
  description: '# Introduction

    Use our Jebbit API to automate tasks relating to your Jebbit Businesses, Campaigns, Product Feed, Launch Links, and Integrations.'
  version: v1
  x-logo:
    url: https://jebbit-public-api-docs.s3.amazonaws.com/images/logo.png
    backgroundColor: '#FFFFFF'
    altText: Jebbit
servers:
- url: https://api2.jebbit.com/
tags:
- name: Integration Mappings
paths:
  /api/v1/integration_mappings:
    get:
      summary: Index Integration Mappings
      tags:
      - Integration Mappings
      security:
      - JWT: []
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                    - id: abc123
                      type: integration_mappings
                      attributes:
                        jebbit_var: Outcome
                        client_var: Bucket
                        integration_id: asdf1234
                    - id: def567
                      type: integration_mappings
                      attributes:
                        jebbit_var: Outcome
                        client_var: Bucket
                        integration_id: zmejas58
              schema:
                $ref: '#/components/schemas/integration_mappings'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
      operationId: getApiV1IntegrationMappings
      x-operation-id-source: derived
    post:
      summary: integration_mappings
      tags:
      - Integration Mappings
      security:
      - JWT: []
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: integration_mappings
                      attributes:
                        jebbit_var: Outcome
                        client_var: Bucket
                        default: Default
              schema:
                $ref: '#/components/schemas/integration_mapping'
        '400':
          description: bad request -- Invalid 'jebbit_var' cannot be '$metadata'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '422':
          description: bad request (no params given)
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: integration_mappings
                      attributes:
                        name: Jebbit
              schema:
                $ref: '#/components/schemas/integration_mapping'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
      operationId: postApiV1IntegrationMappings
      x-operation-id-source: derived
  /api/v1/integration_mappings/{integration_mapping_id}:
    get:
      summary: Shows an Integration Mapping
      tags:
      - Integration Mappings
      security:
      - JWT: []
      parameters:
      - name: integration_mapping_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: integration_mappings
                      attributes:
                        jebbit_var: Outcome
                        client_var: Bucket
                        default: Default
              schema:
                $ref: '#/components/schemas/integration_mapping'
      operationId: getApiV1IntegrationMappingsByIntegrationMappingId
      x-operation-id-source: derived
    patch:
      summary: update integration mapping
      tags:
      - Integration Mappings
      security:
      - JWT: []
      parameters:
      - name: integration_mapping_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: not found
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
      operationId: patchApiV1IntegrationMappingsByIntegrationMappingId
      x-operation-id-source: derived
    delete:
      summary: Delete an Integration Mapping
      tags:
      - Integration Mappings
      security:
      - JWT: []
      parameters:
      - name: integration_mapping_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Conent
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: not found
      operationId: deleteApiV1IntegrationMappingsByIntegrationMappingId
      x-operation-id-source: derived
components:
  schemas:
    integration_mappings:
      type: object
      properties:
        data:
          type: array
          items:
            type: integration_mapping
    integration_mapping:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                client_var:
                  type: string
                jebbit_var:
                  type: string
                integration_id:
                  type: string
                default:
                  type:
                  - string
                  - 'null'
              required:
              - client_var
              - jebbit_var
              - integration_id
          required:
          - type
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      flows:
        authorizationCode:
          tokenUrl: https://auth.jebbit.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            delete: Grants delete access
