openapi: 3.2.0
info:
  title: Jebbit Launch Links API
  description: '# Introduction

    Use our Jebbit API to automate tasks relating to your Jebbit Businesses, Campaigns, Product Feed, Launch Links, and Integrations.'
  version: v1
  x-logo:
    url: https://jebbit-public-api-docs.s3.amazonaws.com/images/logo.png
    backgroundColor: '#FFFFFF'
    altText: Jebbit
servers:
- url: https://api2.jebbit.com/
tags:
- name: Launch Links
paths:
  /api/v1/campaigns/{campaign_id}/launch_links:
    get:
      summary: Lists Launch Links for a Campaign
      tags:
      - Launch Links
      security:
      - JWT: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                    - id: abC1234
                      type: launch_links
                      attributes:
                        created_at: '2021-01-17T19:37:47.151Z'
                        custom_param_value: JC=Product+Quiz+LP
                        enabled: 'true'
                        label: Product Quiz LP
                        link_group: Owned Web
                        link_parameter: L=Owned+Web
                        include_uid_param: 'false'
                        complete_live_link: http://localhost:3001/bce4291?L=Owned+Web&JC=Product+Quiz+LP
                    - id: def6789
                      type: launch_links
                      attributes:
                        created_at: '2020-12-29T18:58:35.791Z'
                        custom_param_value: 'null'
                        enabled: 'true'
                        label: Linkedin
                        link_group: Linkedin
                        link_parameter: L=Linkedin
                        include_uid_param: 'false'
                        complete_live_link: http://localhost:3001/bce4291?L=Linkedin
              schema:
                $ref: '#/components/schemas/launch_links'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
      operationId: getApiV1CampaignsByCampaignIdLaunchLinks
      x-operation-id-source: derived
components:
  schemas:
    launch_links:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                type: object
                properties:
                  created_at:
                    type: date
                  custom_param_value:
                    type:
                    - string
                    - 'null'
                  enabled:
                    type: boolean
                  label:
                    type: string
                  link_group:
                    type: string
                  link_parameter:
                    type: string
                  include_uid_param:
                    type: boolean
                  complete_live_link:
                    type: string
                required:
                - created_at
                - enabled
                - label
                - link_group
                - complete_live_link
            required:
            - type
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      flows:
        authorizationCode:
          tokenUrl: https://auth.jebbit.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            delete: Grants delete access
