openapi: 3.2.0
info:
  title: Jebbit Integration Historic Backfills API
  description: '# Introduction

    Use our Jebbit API to automate tasks relating to your Jebbit Businesses, Campaigns, Product Feed, Launch Links, and Integrations.'
  version: v1
  x-logo:
    url: https://jebbit-public-api-docs.s3.amazonaws.com/images/logo.png
    backgroundColor: '#FFFFFF'
    altText: Jebbit
servers:
- url: https://api2.jebbit.com/
tags:
- name: Integration Historic Backfills
paths:
  /api/v1/integration_historic_backfills:
    get:
      summary: Index Integration Historic Backfills
      tags:
      - Integration Historic Backfills
      security:
      - JWT: []
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                    - id: abc123
                      type: integration_historic_backfills
                      attributes:
                        endpoint: processing
                        integration_id: asdf1234
                    - id: def567
                      type: integration_historic_backfills
                      attributes:
                        status: received
                        integration_id: zmejas58
              schema:
                $ref: '#/components/schemas/integration_historic_backfills'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
      operationId: getApiV1IntegrationHistoricBackfills
      x-operation-id-source: derived
    post:
      summary: integration_historic_backfills
      tags:
      - Integration Historic Backfills
      security:
      - JWT: []
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: integration_historic_backfills
                      attributes:
                        status: processing
              schema:
                $ref: '#/components/schemas/integration_historic_backfill'
        '400':
          description: bad request -- cannot request a backfill for an inactive integration
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '422':
          description: bad request (no params given)
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: integration_historic_backfills
                      attributes:
                        name: Jebbit
              schema:
                $ref: '#/components/schemas/integration_historic_backfill'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/integration_historic_backfill_request'
      operationId: postApiV1IntegrationHistoricBackfills
      x-operation-id-source: derived
  /api/v1/integration_historic_backfills/{backfill_id}:
    get:
      summary: Shows an Integration Historic Backfill
      tags:
      - Integration Historic Backfills
      security:
      - JWT: []
      parameters:
      - name: backfill_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: integration_historic_backfills
                      attributes:
                        status: processing
              schema:
                $ref: '#/components/schemas/integration_historic_backfill'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: not found
      operationId: getApiV1IntegrationHistoricBackfillsByBackfillId
      x-operation-id-source: derived
    patch:
      summary: update integration historic backfill
      tags:
      - Integration Historic Backfills
      security:
      - JWT: []
      parameters:
      - name: backfill_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: cannot restart in-progress (processing) job
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: not found
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
      operationId: patchApiV1IntegrationHistoricBackfillsByBackfillId
      x-operation-id-source: derived
components:
  schemas:
    integration_historic_backfills:
      type: object
      properties:
        data:
          type: array
          items:
            type: integration_historic_backfill
    integration_historic_backfill:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                status:
                  type: string
                created_at:
                  type: date
                updated_at:
                  type: date
                integration_id:
                  type: string
              required:
              - status
              - integration_id
          required:
          - type
    integration_historic_backfill_request:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              default: integration_historic_backfills
            attributes:
              type: object
              properties:
                integration_id:
                  type: string
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      flows:
        authorizationCode:
          tokenUrl: https://auth.jebbit.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            delete: Grants delete access
