openapi: 3.2.0
info:
  title: Jebbit Campaigns API
  description: '# Introduction

    Use our Jebbit API to automate tasks relating to your Jebbit Businesses, Campaigns, Product Feed, Launch Links, and Integrations.'
  version: v1
  x-logo:
    url: https://jebbit-public-api-docs.s3.amazonaws.com/images/logo.png
    backgroundColor: '#FFFFFF'
    altText: Jebbit
servers:
- url: https://api2.jebbit.com/
tags:
- name: Campaigns
paths:
  /api/v1/campaigns:
    get:
      summary: Lists campaigns
      tags:
      - Campaigns
      security:
      - JWT: []
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                    - id: abc123
                      type: campaigns
                      attributes:
                        title: My Cool Campaign
                        launch_date: '2021-01-01T18:35:53.371Z'
                        active_iteration: ajH
                    - id: def567
                      type: campaigns
                      attributes:
                        title: My Cool Campaign
                        launch_date: '2021-01-01T18:35:53.371Z'
                        active_iteration: K6n
              schema:
                $ref: '#/components/schemas/campaigns'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
      operationId: getApiV1Campaigns
      x-operation-id-source: derived
  /api/v1/campaigns/{campaign_id}:
    get:
      summary: Retrieves a Campaign
      tags:
      - Campaigns
      security:
      - JWT: []
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: def567
                      type: campaigns
                      attributes:
                        title: My Cool Campaign
                        launch_date: '2021-01-01T18:35:53.371Z'
                        active_iteration: K6n
              schema:
                $ref: '#/components/schemas/campaign'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '404':
          description: not found
      operationId: getApiV1CampaignsByCampaignId
      x-operation-id-source: derived
components:
  schemas:
    campaigns:
      type: object
      properties:
        data:
          type: array
          items:
            type: campaign
    campaign:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                title:
                  type: string
                launch_date:
                  type:
                  - date
                  - 'null'
                active_iteration:
                  type:
                  - string
                  - 'null'
              required:
              - title
              - launch_date
              - active_iteration
          required:
          - type
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      flows:
        authorizationCode:
          tokenUrl: https://auth.jebbit.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            delete: Grants delete access
