openapi: 3.2.0
info:
  title: Jebbit Feed Columns API
  description: '# Introduction

    Use our Jebbit API to automate tasks relating to your Jebbit Businesses, Campaigns, Product Feed, Launch Links, and Integrations.'
  version: v1
  x-logo:
    url: https://jebbit-public-api-docs.s3.amazonaws.com/images/logo.png
    backgroundColor: '#FFFFFF'
    altText: Jebbit
servers:
- url: https://api2.jebbit.com/
tags:
- name: Feed Columns
paths:
  /api/v1/feed_columns:
    get:
      summary: Lists feed columns
      tags:
      - Feed Columns
      security:
      - JWT: []
      parameters:
      - name: filter[feed_id]
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            description: Feed ID
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                    - id: abc123
                      type: feed_columns
                      attributes:
                        name: Column 1
                    - id: def567
                      type: feed_columns
                      attributes:
                        name: Column 2
              schema:
                $ref: '#/components/schemas/feed_columns'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 400
                      title: Bad Request
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
      operationId: getApiV1FeedColumns
      x-operation-id-source: derived
    post:
      summary: Creates a feed column
      tags:
      - Feed Columns
      security:
      - JWT: []
      parameters: []
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: feed_column
                      attributes:
                        name: Column Name
              schema:
                $ref: '#/components/schemas/feed_column'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 400
                      title: Bad Request
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/feed_column_request'
      operationId: postApiV1FeedColumns
      x-operation-id-source: derived
  /api/v1/feed_columns/{feed_column_id}:
    get:
      summary: Retrieves a Feed Column
      tags:
      - Feed Columns
      security:
      - JWT: []
      parameters:
      - name: feed_column_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: feed_column
                      attributes:
                        name: Column Name
              schema:
                $ref: '#/components/schemas/feed_column'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: Not Found
      operationId: getApiV1FeedColumnsByFeedColumnId
      x-operation-id-source: derived
    patch:
      summary: Updates a Feed Column
      tags:
      - Feed Columns
      security:
      - JWT: []
      parameters:
      - name: feed_column_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    data:
                      id: abc123
                      type: feed_columns
                      attributes:
                        name: Column Name
              schema:
                $ref: '#/components/schemas/feed_column'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/feed_column'
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: Not Found
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/feed_column_request'
      operationId: patchApiV1FeedColumnsByFeedColumnId
      x-operation-id-source: derived
    delete:
      summary: Deletes a Feed Column
      tags:
      - Feed Columns
      security:
      - JWT: []
      parameters:
      - name: feed_column_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized Request
        '403':
          description: Forbidden
          content:
            application/vnd.api+json:
              examples:
                example_0:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
        '404':
          description: Not Found
      operationId: deleteApiV1FeedColumnsByFeedColumnId
      x-operation-id-source: derived
components:
  schemas:
    feed_column_request:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
              - feed_id
          required:
          - type
    feed_columns:
      type: object
      properties:
        data:
          type: array
          items:
            type: feed_column
    feed_column:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
              - feed_id
          required:
          - type
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      flows:
        authorizationCode:
          tokenUrl: https://auth.jebbit.com/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            delete: Grants delete access
